$mobilePortrait: 320px;
$iphonePlus: 413px;
$mobileLandscape: 480px;
$tablet: 768px;
$iPadPro: 834px;
$desktop: 992px;
$iPadPro12: 1023px;
$largeDesktop: 1200px;
$biggerScreen: 2074px;
$biggerScreen2: 2559px;

@media screen and (min-width: $mobilePortrait) {
  html {
    font-size: 70%;

    body {
      @import 'mobile-menu';

      /* Homepage */
      main {
        .hero {
          .heading {
            margin-top: 6em;
            gap: 3em;

            h4 {
              font-size: 1.5rem;
            }

            h1 {
              font-size: 4rem;
            }

            a {
              font-size: 1.5rem;
            }
          }
        }

        .shop_sale_section {
          flex-direction: column;

          .card-link {
            width: 100%;
          }
        }

        .social {
          h2 {
            font-size: 2rem;
          }

          .social-images {
            flex-direction: column;

            img {
              width: 90%;
            }
          }
        }
      }

      &.woocommerce-shop {
        #primary {
          padding: 3em;
          width: 100%;

          #main {
            .products {
              margin-top: 3em;
            }
          }
        }
      }

      &.single-product {
        #primary {
          .product {
            .related {
              margin-top: 4em;

              h2 {
                font-size: 2rem;
              }

              .products {
                margin-top: 6em;
              }
            }
          }
        }
      }

      /* My Account Page */
      &.woocommerce-account {
        .account_container {
          .woocommerce {
            flex-direction: column;
            gap: 2em;

            .woocommerce-MyAccount-content {
              flex: auto;
            }
          }
        }
      }

      /* Contact Page */
      &.page-id-81 {
        .form_wrapper {
          flex-direction: column;
          align-items: center;

          .contact_image {
            display: none;
          }

          .form_container {
            width: 100%;
            padding: 2em 2em;

            .form-group {
              &.top {
                flex-direction: column;
                gap: 0.5em;

                input {
                  width: 100%;
                }
              }
            }
          }
        }
      }

      /* CartPage */
      &.woocommerce-cart {
        .woocommerce {
          padding: 4em 2em;
          width: 100%;

          .cart_totals {
            h2 {
              text-align: center;
            }

            .checkout-button {
              background-color: lightgray;
              color: #282828;

              &:hover {
                background-color: whitesmoke;
                color: #282828;
              }
            }
          }
        }
      }

      /* Checkout Page */
      &.woocommerce-checkout {
        .woocommerce {
          padding: 4em 2em;

          .wp-element-button {
            background-color: lightgray;
            color: #282828;

            &:hover {
              background-color: whitesmoke;
              color: #282828;
            }
          }
        }
      }

      footer {
        .logo-social_wrapper_footer {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 3em;
          padding: 2em;

          .logo_link {
            img {
              width: 10em;
            }
          }
        }

        .copyright_wrapper {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 1em;

          span {
            text-align: center;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $iphonePlus) {
  html {
    body {
      main {
        .hero {
          .heading {
            margin-top: 8em;

            h4 {
              font-size: 1.8rem;
            }

            h1 {
              font-size: 4.5rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $tablet) {
  html {
    font-size: 95%;

    body {
      .site_header {
        .header_wrapper {
          .menu_wrapper {
            .menu-header-container {
              ul {
                gap: 5em;
              }
            }
          }
        }
      }

      main {
        .hero {
          .heading {
            h4 {
              font-size: 1.5rem;
            }

            h1 {
              font-size: 5rem;
            }
          }
        }

        .social {
          .social-images {
            flex-direction: initial;
            flex-wrap: wrap;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $desktop) {
  html {
    font-size: 100%;

    body {
      .site_header {
        .header_wrapper {
          .hamburger {
            display: none;
          }

          .menu_wrapper {
            position: absolute;
            left: 16rem;
            width: fit-content;
            height: auto;
            background: transparent;

            .menu-header-container {
              ul {
                flex-direction: row;
                gap: 2em;

                li {
                  padding: 1em 0 2em 0;
                  transform: translateY(0);

                  a {
                    font-size: 1rem;
                    text-decoration: none;
                    color: #282828;
                    font-weight: 600;
                    transition: color 0.2s linear;

                    &:hover {
                      color: gray;
                    }

                    &::after {
                      content: '';
                      position: absolute;
                      width: 0;
                      height: 4px;
                      display: block;
                      margin-top: 0.5rem;
                      right: 0;
                      background-color: purple;
                      transition: width 0.4s ease;
                      -webkit-transition: width 0.4s ease;
                    }

                    &:hover::after {
                      width: 100%;
                      left: 0;
                    }
                  }
                }

                .menu-item-has-children {
                  position: relative;

                  a {
                    span {
                      margin: 0;
                    }
                  }

                  .sub-menu {
                    flex-direction: column;
                    align-items: start;
                    position: absolute;
                    margin: 0;
                    gap: 0.5em;
                    top: 4rem;
                    left: -2rem;
                    background-color: white;
                    border-radius: 2px;
                    box-shadow: 0 0 8px gray;
                    padding: 0.5rem;
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity 0.9s ease;

                    li {
                      border-radius: 2px;
                      padding: 0.5rem 1.5rem;
                      width: 100%;
                      background-color: transparent;
                      transition: background-color 0.3s ease;

                      a {
                        padding: 0;
                        margin: 0;
                        color: #282828;
                      }

                      &:hover {
                        background-color: plum;

                        a::after {
                          width: 0;
                        }
                      }
                    }
                  }

                  &:hover {
                    .sub-menu {
                      opacity: 1;
                      visibility: visible;
                      display: flex;
                    }
                  }
                }
              }
            }

            .social_mobile_nav {
              display: none;
            }
          }

          .logo-wrapper {
            .logo_link {
              img {
                width: 14em;
              }
            }
          }

          .login-wrapper {
            left: 88%;
            top: 1rem;

            span {
              font-size: 2rem;
              transform: scale(1);
              transition: transform 0.3s ease;
            }

            &:hover {
              cursor: pointer;

              span {
                transform: scale(1.05);
              }
            }
          }
        }
      }

      main {
        .hero {
          .heading {
            gap: 0.2em;

            h4 {
              font-size: 2rem;
            }

            h1 {
              font-size: 7rem;
            }

            a {
              font-size: 1.25rem;
            }
          }
        }

        .shop_sale_section {
          flex-direction: initial;
        }

        .social {
          h2 {
            font-size: 3rem;
          }

          .social-images {
            flex-direction: initial;
            flex-wrap: nowrap;
            gap: 1em;
            width: 90%;

            img {
              width: 25%;
            }
          }
        }
      }

      &.single-product {
        #primary {
          .product {
            .related {
              .products {
                li {
                  width: initial;
                }
              }
            }
          }
        }
      }

      &.woocommerce-account {
        .account_container {
          .woocommerce {
            flex-direction: initial;
            gap: 4em;

            .woocommerce-MyAccount-content {
              flex: 0 0 40em;
              height: fit-content;
            }
          }
        }
      }

      &.page-id-81 {
        .contact_container {
          margin-top: 8em;

          .form_wrapper {
            flex-direction: row;
            align-items: start;

            .contact_image {
              display: flex;
            }

            .form_container {
              width: 100%;
              padding: 1em 3em 1em 2em;

              .form-group {
                &.top {
                  flex-direction: row;
                  gap: 0.5em;

                  input {
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }

      &.woocommerce-cart {
        .woocommerce {
          margin-top: 1em;
        }
      }

      footer {
        .logo-social_wrapper_footer {
          flex-direction: row;
          justify-content: center;
          align-items: center;

          .logo_link {
            img {
              width: 25%;
            }
          }
        }

        .copyright_wrapper {
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 4em;
        }
      }
    }
  }
}

@media screen and (min-width: $largeDesktop) {
  html {
    body {
      .site_header {
        .header_wrapper {
          .menu_wrapper {
            left: 20rem;

            .menu-header-container {
              ul {
                gap: 3.5em;
              }
            }
          }

          .login-wrapper {
            left: 90%;
          }
        }
      }

      main {
        .hero {
          .heading {
            margin-top: 8em;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $biggerScreen) {
  html {
    body {
      .site_header {
        .header_wrapper {
          .menu_wrapper {
            left: 40rem;

            .menu-header-container {
              ul {
                gap: 8em;
              }
            }
          }
        }
      }

      main {
        .hero {
          .heading {
            margin-top: 15em;

            h4 {
              font-size: 2.5rem;
            }

            h1 {
              font-size: 8rem;
            }

            a {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $biggerScreen2) {
  html {
    body {
      .site_header {
        .header_wrapper {
          .menu_wrapper {
            .menu-header-container {
              ul {
                gap: 12em;
              }
            }
          }
        }
      }

      main {
        .hero {
          .heading {
            margin-top: 25em;
            gap: 4em;

            h4 {
              font-size: 4rem;
            }

            h1 {
              font-size: 12rem;
            }

            a {
              font-size: 2.5rem;
            }
          }
        }
      }
    }
  }
}
