@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Montserrat:wght@400;600&display=swap");
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* My Account Page */
}
body .site_header {
  width: 100vw;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1em;
  background-color: whitesmoke;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 10px 10px -10px gray;
  transition: top 0.8s ease;
}
body .site_header.hide {
  top: -200px;
}
body .site_header .header_wrapper {
  display: flex;
}
body .site_header .header_wrapper .menu_wrapper {
  width: 30%;
  display: flex;
  align-items: center;
}
body .site_header .header_wrapper .menu_wrapper .menu {
  display: flex;
  gap: 3em;
}
body .site_header .header_wrapper .menu_wrapper .menu li {
  list-style-type: none;
}
body .site_header .header_wrapper .menu_wrapper .menu li a {
  text-decoration: none;
  color: #282828;
  font-weight: 600;
  transition: color 0.2s linear;
}
body .site_header .header_wrapper .menu_wrapper .menu li a:hover {
  color: lightgrey;
}
body .site_header .header_wrapper .menu_wrapper .menu li.current_page_item a {
  color: lightgrey;
}
body .site_header .header_wrapper .logo-social_wrapper {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
body .site_header .header_wrapper .logo-social_wrapper .logo_link {
  display: flex;
  justify-content: center;
}
body .site_header .header_wrapper .logo-social_wrapper .logo_link img {
  width: 40%;
}
body .site_header .header_wrapper .logo-social_wrapper .social_header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
body .site_header .header_wrapper .logo-social_wrapper .social_header a {
  text-decoration: none;
  transition: transform 0.4s ease;
}
body .site_header .header_wrapper .logo-social_wrapper .social_header a:hover {
  transform: scale(1.1);
}
body .site_header .header_wrapper .logo-social_wrapper .social_header .dashicons-instagram {
  color: darkred;
}
body .site_header .header_wrapper .logo-social_wrapper .social_header .dashicons-facebook {
  color: blue;
}
body .site_header .header_wrapper .logo-social_wrapper .social_header .dashicons-twitter {
  color: lightblue;
}
body .site_header .header_wrapper .logo-social_wrapper .social_header .dashicons-youtube {
  color: red;
}
body .site_header .header_wrapper .util_wrapper {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .site_header .header_wrapper .util_wrapper .dashicons-search {
  font-size: 1.5rem;
}
body .site_header .header_wrapper .util_wrapper .dashicons-search:hover {
  cursor: pointer;
}
body a {
  color: #282828;
}
body main {
  display: flex;
  flex-direction: column;
}
body main .hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .hero .heading {
  margin-top: -5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .hero .heading h4 {
  font-size: 1.8rem;
  color: whitesmoke;
  margin-bottom: -1em;
  font-family: "Belleza", sans-serif;
}
body main .hero .heading h1 {
  font-size: 5.5rem;
  color: whitesmoke;
  font-family: "Belleza", sans-serif;
  letter-spacing: 8px;
}
body main .hero .heading a {
  border: 0;
  border-radius: 5px;
  padding: 1em 2em;
  font-weight: bold;
  font-size: 1.25rem;
  font-family: "Belleza", sans-serif;
  background-color: lightgray;
  text-decoration: none;
  color: #282828;
  transition: background-color 0.4s ease;
}
body main .hero .heading a:hover {
  cursor: pointer;
  background-color: white;
}
body main .product-slider {
  margin: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
}
body main .product-slider h2 {
  font-size: 2.5rem;
}
body main .product-slider hr {
  width: 30%;
  color: black;
}
body main .product-slider .carousel-container {
  position: relative;
  display: flex;
  gap: 2em;
  margin: 4em 0;
}
body main .product-slider .carousel-container button {
  position: absolute;
  background-color: whitesmoke;
  transition: background-color 0.4s ease;
  border-radius: 50%;
  padding: 1em;
  border: none;
  z-index: 1;
  box-shadow: 0 0 5px gray;
}
body main .product-slider .carousel-container button:hover {
  cursor: pointer;
  background-color: white;
}
body main .product-slider .carousel-container button.prev-btn {
  left: 0;
  top: 50%;
}
body main .product-slider .carousel-container button.next-btn {
  right: 0;
  top: 50%;
}
body main .product-slider .carousel-container .carousel-wrapper {
  position: relative;
  width: 100%;
  gap: 1em;
  max-width: 95vw;
  display: flex;
  justify-content: center;
}
body main .product-slider .carousel-container .carousel-wrapper ul {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  scroll-behavior: smooth;
  gap: 0.5em;
  padding: 1em 0;
  margin: 0;
}
body main .product-slider .carousel-container .carousel-wrapper ul li {
  list-style-type: none;
  flex: 0 0 auto;
  scroll-snap-align: start;
  width: 50%;
}
body main .product-slider .carousel-container .carousel-wrapper ul li .product-card {
  border: 0.5px solid gray;
  border-radius: 2px;
  padding: 1em;
  display: flex;
  text-decoration: none;
  gap: 3em;
  transition: transform 0.4s ease;
}
body main .product-slider .carousel-container .carousel-wrapper ul li .product-card:hover {
  transform: scale(1.01);
}
body main .product-slider .carousel-container .carousel-wrapper ul li .product-card .product-image {
  box-shadow: 0 0 6px black;
  border-radius: 2px;
  opacity: 1;
  transition: opacity 0.4s ease;
}
body main .product-slider .carousel-container .carousel-wrapper ul li .product-card .product-image:hover {
  opacity: 0.9;
}
body main .product-slider .carousel-container .carousel-wrapper ul li .product-card .product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
body main .product-slider .carousel-container .carousel-wrapper ul li .product-card .product-info .price-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
body main .social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
}
body main .social h2 {
  font-size: 2.5rem;
}
body main .social hr {
  width: 30%;
  color: black;
}
body main .social .social_images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  margin-bottom: 8em;
}
body main .social .social_images img {
  width: 20em;
}
body.woocommerce-shop .woocommerce {
  width: 80vw;
  padding: 5em 1em;
}
body.woocommerce-shop .woocommerce li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body.woocommerce-shop .woocommerce li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body.woocommerce-shop .woocommerce li a h2 {
  color: #282828;
}
body.woocommerce-shop .woocommerce li a span {
  color: gray;
}
body.woocommerce-shop .woocommerce li a img {
  opacity: 1;
  transition: opacity 0.4s ease;
}
body.woocommerce-shop .woocommerce li a img:hover {
  opacity: 0.8;
}
body.woocommerce-account .woocommerce {
  padding: 6em 1em;
  display: flex;
  gap: 3em;
  width: 100vw;
}
body.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul {
  padding: 0;
  margin: 0;
}
body.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li {
  list-style-type: none;
  background-color: whitesmoke;
  border-radius: 2px;
  padding: 0.8em;
  margin-top: 0.1em;
}
body.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li:hover {
  background-color: lightgray;
  cursor: pointer;
}
body.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li.is-active {
  background-color: lightgray;
}
body.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li a {
  text-decoration: none;
  color: #282828;
  font-weight: bold;
}
body.woocommerce-account .woocommerce .woocommerce-MyAccount-content {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  border-radius: 2px;
  box-shadow: 0 0 6px gray;
}
body footer {
  margin-top: auto;
  background-color: #1b1212;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5em;
  box-shadow: 0 -4px 4px black;
}
body footer .logo-social_wrapper_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em 7em;
}
body footer .logo-social_wrapper_footer .logo_link img {
  width: 40%;
}
body footer .logo-social_wrapper_footer .social_footer {
  display: flex;
  gap: 1.5em;
}
body footer .logo-social_wrapper_footer .social_footer a {
  text-decoration: none;
  transition: transform 0.4s ease;
}
body footer .logo-social_wrapper_footer .social_footer a:hover {
  transform: scale(1.1);
}
body footer .logo-social_wrapper_footer .social_footer .dashicons-instagram {
  color: darkred;
  font-size: 2rem;
}
body footer .logo-social_wrapper_footer .social_footer .dashicons-facebook {
  color: blue;
  font-size: 2rem;
}
body footer .logo-social_wrapper_footer .social_footer .dashicons-twitter {
  color: lightblue;
  font-size: 2rem;
}
body footer .logo-social_wrapper_footer .social_footer .dashicons-youtube {
  color: red;
  font-size: 2rem;
}
body footer .copyright_wrapper {
  display: flex;
  gap: 5em;
  justify-content: space-between;
}
body footer .copyright_wrapper span {
  color: gray;
}
body footer .copyright_wrapper span a {
  color: gray;
  text-decoration: none;
  transition: color 0.4s ease;
}
body footer .copyright_wrapper span a:hover {
  color: lightgray;
}
body .search_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.9);
}
body .search_wrapper.show {
  opacity: 1;
  z-index: 10;
}
body .search_wrapper .search_input_field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body .search_wrapper .search_input_field input {
  text-align: center;
  width: 70%;
  border: none;
  border-radius: 5px;
  color: white;
  border-bottom: 1px solid white;
  padding: 0.5em;
  font-size: 3rem;
  outline: none;
  background-color: transparent;
}
body .search_wrapper .search_input_field .close-icon {
  font-size: 2rem;
  color: white;
  transition: transform 0.5s ease;
}
body .search_wrapper .search_input_field .close-icon:hover {
  cursor: pointer;
  transform: rotate(180deg);
}
body .search_results .search_page_hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/search-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .search_results .search_page_hero h1 {
  color: whitesmoke;
  font-size: 2.5rem;
}
body .search_results .results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=style.css.map */