@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Montserrat:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  body {
    padding: 0;
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @import 'components/header';

    a {
      color: #282828;
    }

    /* Homepage */
    main {
      display: flex;
      flex-direction: column;

      @import 'components/hero';

      .shop_sale_section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 5em;

        .card-link {
          width: 50%;
          opacity: 1;
          transform: translateY(100px);
          transition: transform 1s ease, opacity 0.9s ease;

          &.fade-in {
            transform: translateY(0);
          }

          &:hover {
            opacity: 0.85;
          }

          div {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            img {
              width: 100%;
              border-radius: 2px;
            }

            span {
              position: absolute;
              background-color: whitesmoke;
              border-radius: 2px;
              padding: 1em;
              font-weight: bold;
              font-family: 'Belleza', sans-serif;
              transition: background-color 0.4s ease;

              &:hover {
                background-color: white;
              }
            }
          }
        }
      }

      /* Social Media Section */
      .social {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5em;

        h2 {
          font-size: 2.5rem;
          transform: translateY(40px);
          opacity: 0;
          transition: transform 0.9s ease, opacity 0.5s ease;

          &.fade-in {
            transform: translateY(0);
            opacity: 1;
          }
        }

        hr {
          width: 30%;
          color: black;
          transform: translateY(40px);
          opacity: 0;
          transition: transform 0.9s ease, opacity 0.5s ease;

          &.fade-in {
            transform: translateY(0);
            opacity: 1;
          }
        }

        .social-images {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 2em 0 10em 0;
          gap: 2em;
          transform: translateY(40px);
          opacity: 0;
          transition: transform 0.9s ease, opacity 0.5s ease;

          &.fade-in {
            transform: translateY(0);
            opacity: 1;
          }

          img {
            border-radius: 2px;
            width: 12em;
          }
        }
      }
    }

    /* Shop Page */
    &.woocommerce-shop {
      .aws-container {
        width: 15em;
        margin: 0 auto;
        margin-top: 2em;
        margin-bottom: 3em;
        box-shadow: 0 0 3px gray;
      }

      #primary {
        padding: 3em;
        width: 100%;

        #main {
          .woocommerce-breadcrumb {
            color: #282828;

            a {
              color: #282828;
            }
          }

          .woocommerce-result-count,
          .woocommerce-ordering {
            display: none;
          }

          .products {
            padding: 1em;
            width: 100%;

            li {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              gap: 1em;
              list-style-type: none;

              a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h2 {
                  color: #282828;
                }

                .price {
                  color: gray;
                }

                img {
                  opacity: 1;
                  transition: opacity 0.4s ease;

                  &:hover {
                    opacity: 0.8;
                  }
                }
              }

              .wp-element-button {
                background-color: whitesmoke;
                padding: 0.8em;
                border-radius: 2px;
                font-weight: bold;
                color: #282828;
                transition: background-color 0.2s ease;

                &:hover {
                  background-color: silver;
                }
              }
            }
          }
        }
      }
    }

    /* Single Product Page */
    &.single-product {
      #primary {
        padding: 3em;
        width: 100%;

        .wp-element-button {
          background-color: whitesmoke;
          padding: 0.8em;
          border-radius: 2px;
          font-weight: bold;
          color: #282828;
          transition: background-color 0.2s ease;
          text-align: center;

          &:hover {
            background-color: silver;
          }
        }

        .price {
          color: gray;
        }

        .product {
          margin: 3em;

          .summary {
            .quantity {
              border: 1px solid black;
              border-radius: 5px;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 0.5em;
              box-shadow: 0 0 2px gray;

              // Remove arrows from input number
              input::-webkit-outer-spin-button,
              input::-webkit-inner-spin-button {
                display: none;
              }

              .plus,
              .minus {
                border: none;
                background-color: transparent;

                &:hover {
                  cursor: pointer;
                }
              }

              .input-text {
                border: none;
                background-color: transparent;
                outline: none;
              }
            }

            .cart {
              display: flex;
              flex-direction: column;
              width: 8em;
              gap: 1em;
            }

            .product_meta {
              display: none;
            }
          }

          .related {
            margin-top: 4em;

            h2 {
              text-align: center;
            }

            .products {
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              align-items: center;
              padding: 0;

              li {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .woocommerce-LoopProduct-link {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                }
              }
            }
          }
        }
      }
    }

    /* My Account Page */
    &.woocommerce-account {
      .account_hero {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
          ),
          url('../images/account-hero.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 50vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
          color: whitesmoke;
          font-size: 2.5rem;
          font-family: 'Belleza', sans-serif;
          letter-spacing: 1px;
          transform: translateY(40px);
          opacity: 0;
          transition: transform 0.9s ease, opacity 0.5s ease;

          &.fade-in {
            transform: translateY(0);
            opacity: 1;
          }
        }
      }

      .account_container {
        padding: 4em 1em;
        margin-bottom: 5em;

        .woocommerce {
          padding: 1em;
          display: flex;
          justify-content: center;

          .woocommerce-MyAccount-navigation {
            flex: 0 0 15em;

            ul {
              padding: 0;
              margin: 0;

              li {
                list-style-type: none;
                background-color: whitesmoke;
                border-radius: 2px;
                padding: 0.8em;
                margin-top: 0.1em;
                transition: background-color 0.4s ease;

                &:hover {
                  background-color: lightgray;
                  cursor: pointer;
                }

                &.is-active {
                  background-color: lightgray;
                }

                a {
                  text-decoration: none;
                  color: #282828;
                  font-weight: bold;
                }
              }
            }
          }

          .woocommerce-MyAccount-content {
            flex: 0 0 40em;
            display: flex;
            flex-direction: column;
            padding: 1.5em;
            border-radius: 2px;
            box-shadow: 0 0 6px gray;
          }
        }
      }
    }

    /* On Sale Page */
    &.page-id-71 {
      .sale_page_hero {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
          ),
          url('../images/sale-hero.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 50vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
          color: whitesmoke;
          font-size: 2.5rem;
          font-family: 'Belleza', sans-serif;
          letter-spacing: 1px;
          transform: translateY(40px);
          opacity: 0;
          transition: transform 0.9s ease, opacity 0.5s ease;

          &.fade-in {
            transform: translateY(0);
            opacity: 1;
          }
        }
      }

      .sale_container {
        width: 100%;
        padding: 2em;

        .woocommerce-breadcrumb {
          color: #282828;

          a {
            color: #282828;
          }
        }

        .woocommerce {
          padding: 4em 1em;

          li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1em;
            list-style-type: none;

            a {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              h2 {
                color: #282828;
              }

              .price {
                color: gray;
              }

              img {
                opacity: 1;
                transition: opacity 0.4s ease;

                &:hover {
                  opacity: 0.8;
                }
              }
            }

            .wp-element-button {
              background-color: whitesmoke;
              padding: 0.8em;
              border-radius: 2px;
              font-weight: bold;
              color: #282828;
              text-align: center;
              transition: background-color 0.2s ease;

              &:hover {
                background-color: silver;
              }
            }
          }
        }
      }
    }

    @import 'components/footer';
  }
}

@import 'media-queries';
