.site_header {
  width: 100vw;
  height: fit-content;
  padding: 1.5em;
  background-color: whitesmoke;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 8px 8px -8px black;
  transition: top 0.8s ease;

  &.hide {
    top: -200px;
  }

  .header_wrapper {
    display: flex;

    .menu_wrapper {
      width: 30%;
      display: flex;
      align-items: center;

      .menu {
        display: flex;
        gap: 2em;

        li {
          list-style-type: none;

          a {
            text-decoration: none;
            color: #282828;
            font-weight: 600;
            transition: color 0.2s linear;

            &:hover {
              color: lightgrey;
            }
          }

          &.current_page_item {
            a {
              color: lightgrey;
            }
          }
        }
      }
    }

    .logo-social_wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5em;

      .logo_link {
        display: flex;
        justify-content: center;
        width: 15em;
      }

      .social_header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;

        a {
          text-decoration: none;
          transition: transform 0.4s ease;

          &:hover {
            transform: scale(1.1);
          }
        }

        .dashicons-instagram {
          color: darkred;
        }

        .dashicons-facebook {
          color: blue;
        }

        .dashicons-twitter {
          color: lightblue;
        }

        .dashicons-youtube {
          color: red;
        }
      }
    }
  }
}
