.xoo-wsc-product {
  display: flex;
  border-bottom: 1px solid rgba(110, 130, 208, 0.17);
}

.xoo-wsc-img-col img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.xoo-wsc-header {
  background-color: black;
}

.xoo-wsc-header {
  color: #ffffff !important;
}
